In [2]:
import pandas as pd

In [7]:
data = pd.read_csv('버퍼근처 동인구대비.csv')

In [8]:
data.head()

,gid,val,동_전체인구,gid_int,법정동코드,동이름,x,y,역이름,존재여부,동,구
0,다마84ba99ba,NaN,564.0,30170120,3017012000,대전광역시 서구 장안동,NaN,NaN,NaN,NaN,NaN,NaN
1,다마84bb98ab,NaN,564.0,30170120,3017012000,대전광역시 서구 장안동,NaN,NaN,NaN,NaN,NaN,NaN
2,다마84bb98ba,NaN,564.0,30170120,3017012000,대전광역시 서구 장안동,NaN,NaN,NaN,NaN,NaN,NaN
3,다마84bb98bb,NaN,564.0,30170120,3017012000,대전광역시 서구 장안동,NaN,NaN,NaN,NaN,NaN,NaN
4,다마84bb99aa,NaN,564.0,30170120,3017012000,대전광역시 서구 장안동,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
list = data['동'].unique()

list

array([nan, '흑석동', '가수원동', '용두동', '오류동', '중춘동', '신대동', '신탄진동'],
      dtype=object)

In [10]:
data_station = []
for i in range(0, len(list)) :
    data_station.append(sum(data[(data['동']==list[i])]['val'].dropna()))

In [17]:
#10.30 일 분석
data_station

[37818.0, 13307.0, 92163.0, 115847.0, 127590.0, 34288.0, 1123.0]

In [11]:
#11.2일 분석
data_station

[0, 773.0, 29610.0, 24500.0, 64695.0, 42100.0, 8809.0, 30087.0]

In [12]:
dong_info = pd.DataFrame()

In [14]:
# 동 전체 인구
dong_list = data['동이름'].unique()

dong_info['동이름'] = dong_list

In [17]:
# 동 전체 인구
dong_total = []

for i in range(0, len(dong_list)):
    dong_total.append(sum(data[(data['동']==dong_list[i].split()[2])]['val'].dropna()))
    
dong_info['전체인구'] = dong_total

In [18]:
dong_info

               동이름  전체인구
0     대전광역시 서구 장안동   0.0
1     대전광역시 동구 하소동   0.0
2    대전광역시 유성구 송정동   0.0
3     대전광역시 유성구 세동   0.0
4    대전광역시 유성구 덕명동   0.0
..             ...   ...
172   대전광역시 동구 신촌동   0.0
173   대전광역시 동구 내탑동   0.0
174   대전광역시 동구 사성동   0.0
175    대전광역시 동구 오동   0.0
176   대전광역시 동구 주촌동   0.0

[177 rows x 2 columns]

In [40]:
# 11월 이후 수정본 


station_name = data['역이름'].unique()

station = []
for i in range(1, len(station_name)):
    station.append(station_name[i])

In [41]:
station

['흑석리', '가수원', '용두', '서대전', '중촌', '회덕', '신탄진']

In [22]:
ss = pd.DataFrame(columns=['역이름', '동', '인구'])
ss

Empty DataFrame
Columns: [역이름, 동, 인구]
Index: []

In [49]:
#11월 2일 데이터 구하는 구하는 코드
# data2 = null 없는거
data2 = data.iloc[0]
#for i in range(0, len(data)):
for j in range(0, len(station)):
    data2.append(data[(data['역이름'] == station[j])])

In [50]:
data2.to_excel('d.xlsx')

In [ ]:
count = 0
for i in range(0, len(list)-1):
    station_dong = []
    station_dong = (data[(data['동'] == list[i])]['adm_dr_nm'].unique())
    
    for j in range(0, len(station_dong)):
        popualation = sum(data[((data['동'] == list[i]) & (data['adm_dr_nm']== station_dong[j]))]['val'].dropna())
        ss.loc[count] = (station_name[i], station_dong[j], popualation, )
        count = count +1

In [146]:
result = pd.merge(ss, dong_info , left_on = '동', right_on = '동이름', how ='left')

In [147]:
result

    역이름      동       인구    동이름     전체인구
0   신탄진    덕암동   4827.0    덕암동  13921.0
1   신탄진    목상동     45.0    목상동   6642.0
2   신탄진    석봉동  14773.0    석봉동  14773.0
3   신탄진   신탄진동  10442.0   신탄진동  11113.0
4    회덕    전민동   2778.0    전민동  27341.0
5    회덕    회덕동   6031.0    회덕동  14874.0
6    회덕    관평동      0.0    관평동  27988.0
7    중촌    용문동   7482.0    용문동  17814.0
8    중촌    탄방동   6642.0    탄방동  27447.0
9    중촌   태평2동   1285.0   태평2동  33490.0
10   중촌   태평1동   2657.0   태평1동  26551.0
11   중촌    오류동   1740.0    오류동  21137.0
12   중촌    용두동   4811.0    용두동  19817.0
13   중촌     목동  14844.0     목동  31648.0
14   중촌    중촌동  11818.0    중촌동  16806.0
15   중촌    오정동     29.0    오정동  16855.0
16   중촌  은행선화동   1664.0  은행선화동  16373.0
17   중촌    삼성동    645.0    삼성동  13609.0
18   용두   태평2동   6590.0   태평2동  33490.0
19   용두    가장동   2285.0    가장동  14237.0
20   용두    용문동  10332.0    용문동  17814.0
21   용두    탄방동   1741.0    탄방동  27447.0
22   용두   태평1동  11947.0   태평1동  26551.0
23   용두    오류동   7741.0    오류동  21137.0
24   용두    용두동   6437.0    용두동  19817.0
25   용두     목동  15638.0     목동  31648.0
26   용두    중촌동   4988.0    중촌동  16806.0
27  서대전   유천1동   2914.0   유천1동   6556.0
28  서대전   태평2동   8589.0   태평2동  33490.0
29  서대전   유천2동  13979.0   유천2동  13979.0
30  서대전   태평1동  11947.0   태평1동  26551.0
31  서대전   문화2동    776.0   문화2동  12150.0
32  서대전    오류동  11656.0    오류동  21137.0
33  서대전   문화1동  17914.0   문화1동  23698.0
34  서대전    용두동   8569.0    용두동  19817.0
35  서대전     목동   1166.0     목동  31648.0
36  서대전  은행선화동    448.0  은행선화동  16373.0
37  가수원   관저2동   2080.0   관저2동  51670.0
38  가수원   가수원동  14173.0   가수원동  41071.0
39  가수원    정림동  13357.0    정림동  17098.0
40  흑석리    기성동    773.0    기성동   3547.0

In [148]:
result.to_excel('버퍼 내 인구랑 동 전체 인구 비교3.xlsx')