In [1]:
#1차 정데 데이터를 이용해서 성별 구분 없이 구별 데이터로 구함
import pandas as pd

In [11]:


date_2019 = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

31

In [12]:
#19년
date_2019 = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
for i in range(1, 13):
    daejeaon = pd.read_excel('유동인구1차정제/19년{}월 대전시 유동인구(250).xlsx'.format(i))
    mf_del(daejeaon)
    daejeaon.iloc[:, 3:] = daejeaon.iloc[:, 3:] / (date_2019[i]*24)
    
    daejeaon[(daejeaon['GU']=='서구')].to_excel('서구 유동인구/19년 {}월 서구 유동인구(남여통합).xlsx'.format(i))
    daejeaon[(daejeaon['GU']=='중구')].to_excel('중구 유동인구/19년 {}월 중구 유동인구(남여통합).xlsx'.format(i))
    daejeaon[(daejeaon['GU']=='동구')].to_excel('동구 유동인구/19년 {}월 동구 유동인구(남여통합).xlsx'.format(i))
    daejeaon[(daejeaon['GU']=='유성구')].to_excel('유성구 유동인구/19년 {}월 유성구 유동인구(남여통합).xlsx'.format(i))
    daejeaon[(daejeaon['GU']=='대덕구')].to_excel('대덕구 유동인구/19년 {}월 대덕구 유동인구(남여통합).xlsx'.format(i))

In [13]:
#20년
date_2020 = [0, 31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
for i in range(1, 7):
    daejeaon = pd.read_excel('유동인구1차정제/20년{}월 대전시 유동인구(250).xlsx'.format(i))
    mf_del(daejeaon)
    daejeaon.iloc[:, 3:] = daejeaon.iloc[:, 3:] / (date_2020[i]*24)
    
    daejeaon[(daejeaon['GU']=='서구')].to_excel('서구 유동인구/20년 {}월 서구 유동인구(남여통합).xlsx'.format(i))
    daejeaon[(daejeaon['GU']=='중구')].to_excel('중구 유동인구/20년 {}월 중구 유동인구(남여통합).xlsx'.format(i))
    daejeaon[(daejeaon['GU']=='동구')].to_excel('동구 유동인구/20년 {}월 동구 유동인구(남여통합).xlsx'.format(i))
    daejeaon[(daejeaon['GU']=='유성구')].to_excel('유성구 유동인구/20년 {}월 유성구 유동인구(남여통합).xlsx'.format(i))
    daejeaon[(daejeaon['GU']=='대덕구')].to_excel('대덕구 유동인구/20년 {}월 대덕구 유동인구(남여통합).xlsx'.format(i))

In [10]:
daejeaon

,Unnamed: 0,gid,GU,total,a00,a10,a15,a20,a25,a30,a35,a40,a45,a50,a55,a60,a65,a70
0,0,다바77ab10ab,유성구,167340,68,1732,6324,10792,12500,11536,17384,18896,26812,23612,18168,10944,4628,3944
1,1,다바94bb22aa,대덕구,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2,라바00ab16ab,동구,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,3,다바99ab16ba,동구,8740,0,0,0,50,75,100,75,475,2395,3020,2375,150,0,25
4,4,다바90aa15ab,서구,906460,12263,16100,41411,83923,107385,80736,89246,86013,72628,88828,77967,60547,35504,53909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9021,9021,다바96aa04ba,동구,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9022,9022,다바99ab17aa,동구,8748,0,0,0,50,75,100,75,475,2399,3024,2375,150,0,25
9023,9023,다바94ab25aa,대덕구,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9024,9024,다바96aa26ab,대덕구,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9025,9025,라바01ba22bb,동구,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
def mf_del(daejeaon):
    mf_toall(daejeaon)
    del daejeaon['f00'] 
    del daejeaon['m00']
    del daejeaon['f10'] 
    del daejeaon['m10']
    del daejeaon['f15'] 
    del daejeaon['m15']
    del daejeaon['f20'] 
    del daejeaon['m20']
    del daejeaon['f25'] 
    del daejeaon['m25']
    del daejeaon['f30'] 
    del daejeaon['m30']
    del daejeaon['f35'] 
    del daejeaon['m35']
    del daejeaon['f40'] 
    del daejeaon['m40']
    del daejeaon['f45'] 
    del daejeaon['m45']
    del daejeaon['f50'] 
    del daejeaon['m50']
    del daejeaon['f55'] 
    del daejeaon['m55']
    del daejeaon['f60'] 
    del daejeaon['m60']
    del daejeaon['f65'] 
    del daejeaon['m65']
    del daejeaon['f70'] 
    del daejeaon['m70']

In [7]:
def mf_toall(daejeaon):
    daejeaon['a00'] = daejeaon['f00'] + daejeaon['m00']
    daejeaon['a10'] = daejeaon['f10'] + daejeaon['m10']
    daejeaon['a15'] = daejeaon['f15'] + daejeaon['m15']
    daejeaon['a20'] = daejeaon['f20'] + daejeaon['m20']
    daejeaon['a25'] = daejeaon['f25'] + daejeaon['m25']
    daejeaon['a30'] = daejeaon['f30'] + daejeaon['m30']
    daejeaon['a35'] = daejeaon['f35'] + daejeaon['m35']
    daejeaon['a40'] = daejeaon['f40'] + daejeaon['m40']
    daejeaon['a45'] = daejeaon['f45'] + daejeaon['m45']
    daejeaon['a50'] = daejeaon['f50'] + daejeaon['m50']
    daejeaon['a55'] = daejeaon['f55'] + daejeaon['m55']
    daejeaon['a60'] = daejeaon['f60'] + daejeaon['m60']
    daejeaon['a65'] = daejeaon['f65'] + daejeaon['m65']
    daejeaon['a70'] = daejeaon['f70'] + daejeaon['m70']