In [1]:
import requests; from urllib.parse import urlparse
import pandas as pd

In [5]:
df = pd.read_csv('subway.csv')
df

                         name
0         대전광역시 동구 옥천로 지하162
1         대전광역시 동구 옥천로 지하 70
2        대전광역시 동구 계족로 지하 176
3        대전광역시 동구 중앙로 지하 218
4        대전광역시 중구 중앙로 지하 145
5         대전광역시 중구 중앙로 지하 71
6        대전광역시 중구 계룡로 지하 889
7        대전광역시 중구 계룡로 지하 793
8        대전광역시 서구 계룡로 지하 644
9     대전광역시 서구 문정로48번길 지하 19
10       대전광역시 서구 둔산중로 지하 55
11      대전광역시 서구 한밭대로 지하 744
12      대전광역시 서구 한밭대로 지하 666
13      대전광역시 서구 한밭대로 지하 595
14  대전광역시 서구 갑천도시고속도로 지하1833
15       대전광역시 유성구 계룡로 지하 97
16        대전광역시 유성구 유성대로 703
17     대전광역시 유성구 현충원로 지하 455
18     대전광역시 유성구 한밭대로 지하 155
19      대전광역시 유성구 노은로 지하 161
20         대전광역시 유성구 노은로 273
21    대전광역시 유성구 북유성대로 지하 303

In [3]:
#카카오 api 를 이용해 도로명 주소를 x,y 경도 위도로 변환
def coordinate(address) :
    url = "https://dapi.kakao.com/v2/local/search/address.json?&query=" +address
    result = requests.get(urlparse(url).geturl(), headers={"Authorization": "KakaoAK {인증키}"})
    json_obj = result.json()
    val = []
    for document in json_obj['documents']:
        val = [document['address_name'], document['x'], document['y']]
        
    return val

In [16]:
#도로명 주소 하나만 변환할때
coordinate('대전 중구 어덕마을로 1-6')

['대전 중구 어덕마을로 1-6', '127.40088257847', '36.3323957601862']

In [6]:
#파일로된 도로명 주소들의 x,y 좌표 값을 구함
list = []
for addres in df['name']:
    list.append(coordinate(addres))
df1 = pd.DataFrame(list, columns = ['address_name', 'x', 'y'])
df1.head()

       address_name                 x                 y
0  대전 동구 옥천로 지하 162  127.458436255886  36.3169791703477
1   대전 동구 옥천로 지하 70  127.448798754087  36.3196594361998
2  대전 동구 계족로 지하 176  127.442884593398  36.3295450541282
3  대전 동구 중앙로 지하 218  127.433005290993  36.3313335000024
4  대전 중구 중앙로 지하 145  127.424965656175   36.327960144003

In [7]:
#변환된 결과물 파일로 출력
df1.to_excel('C:/Users/user/대전 지하철.xlsx')